* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}



/* -------------------------------- ========= CONTAINER ========= -----------------------------------------*/
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

/* ----------------- ========= HEADER ======== ----------------- */
/* === Navigation === */
.navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* === Logo === */
.logo {
    margin-right: auto;
}

.logo img {
    width: 5rem;
}


/* === Sign-Up === */
#sign-up a {
    color: #1A63FC;
    text-decoration: none;
    font-weight: 400;
    font-size: .8rem;
}


/* === Nav === */
nav {
    width: 100%;
}

nav ul {
    display: flex;
}

nav li {
    width: 100%;
    text-align: center;
    list-style-type: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #747474;
    padding: 1rem 0;
    border-bottom: 2px solid #f2f2f2;
}

nav a:active,
nav a:focus {
    color: #1a63fc;
    font-weight: 400;
    border-bottom: 2px solid #1A63FC;
    outline: none;
}

/* .current-section {
    color: #1A63FC;
    border-bottom: 2px solid #1A63FC;
} */

/* === End of Navigation === */





/*  === Site-Title === */
.site-title h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.site-title p {
    margin: 1rem 0;
    font-size: .9rem;
}

/* === End of Site-Title === */




/* === Search-Bar === */
.search {
    display: flex;
}

.map {
    padding: .8rem 1rem;
    color: #000;
    background-color: #cfcfcf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input {
    caret-color: #1A63FC;
}

.searchTerm {
    padding: .8rem;
    width: 13rem;
    border: 2px solid #cfcfcf;
    border-left: none;
    border-right: none;
    outline: none;
}

.searchTerm::placeholder {
    font-weight: 700;
    font-size: .9rem;
    color: #000;
    position: relative;
    left: .33rem;
}

.searchButton {
    border: none;
}

.fa-search {
    padding: 1rem;
    background-color: #1a63fc;
    border-radius: 10px;
    color: #fff;
}

/* === End of Search-Bar === */





/* === Search-Filters === */
.filters h3 {
    margin: 1.5rem 0 1rem 0;
}

.search-filters {
    display: flex;
    flex-wrap: wrap;
}

.search-filters a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border: 1px solid #cfcfcf;
    border-radius: 25px;
    margin: .2rem;
    padding-right: 1rem;
}

.search-filters a:hover {
    background-color: #e4e4e4;
    color: #1A63FC;
}

.search-filters i {
    color: #1a63fc;
    background-color: #bdd2ff;
    border-radius: 25px;
    padding: .6rem;
    margin-right: .5rem;
}


.info {
    display: flex;
    margin: 1.5rem 0 2rem 0;
}

.info i {
    font-size: .6rem;
    padding: .2rem;
    margin: 0 .3rem;
    color: #1A63FC;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    width: 100%;
    text-align: center;
}

.info p {
    margin-left: .8rem;
}

/* === End of Search-Filters === */






/* ----------------- ========= HEBERGEMENTS ========= -----------------*/

/* === Les-Plus-Populaires === */

.les-plus-populaires {
    background-color: #ebebeb;
    display: flex;
}

.title-populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.card-populaire {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    height: 8rem;
    margin: 2rem 0;
    -webkit-box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    transition: all .3s ease-in-out;
}

.card-populaire:hover {
    transform: scale(1);
    -webkit-box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
}

.card-populaire img {
    height: 100%;
    width: 20vh;
    padding: .2rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-description {
    display: flex;
    flex-direction: column;
    padding: .6rem .2rem .2rem .4rem;
}

.card-description .name {
    font-size: .8rem;
    font-weight: 700;
}

.card-description .price {
    font-size: .8rem;
    margin: .5rem 0 2rem 0;
}

.card-description .review {
    margin-top: 1rem;
}

.review {
    color: #1A63FC;
    font-size: .6rem;
}

.grey {
    color: rgb(220, 220, 220);
}

/* === End of Les-Plus-Populaires === */




/* === Hebergement-Marseille === */
.hebergements-marseille {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
}

h3 {
    padding: .5rem 0;
}

.cards-marseille {
    display: flex;
    flex-wrap: wrap;
}

.place-to-stay {
    background-color: #fff;
    padding: .2rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    transition: all .3s ease-in-out;
}

.place-to-stay:hover {
    transform: scale(1);
    -webkit-box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
}

.place-to-stay img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.place-to-stay p {
    margin: .3rem 0 0 .5rem;
}

.place-to-stay .review {
    padding: .2rem 0 .3rem 0;
}

.name {
    font-weight: 700;
}

.name a {
    color: #000;
    text-decoration: none;
}

.name a:active,
.name a:focus,
.name a:hover {
    color: #1A63FC;
    outline: none;
}

.price {
    font-size: .9rem;
}



.learn-more {
    margin: 1rem 0 2rem 0;
}

.learn-more a {
    text-decoration: none;
    color: #000;
    outline-color: #1A63FC;
}

.learn-more a:hover {
    color: #1A63FC;
}

/* === End of Hebergement-Marseille === */

/* ----------------- ========= End ofHEBERGEMENTS ========= -----------------  */






/* ----------------- === Activités à Marseille === ----------------- */

.activites-marseille h3 {
    margin: 1.5rem 0
}

.activites-card {
    border-radius: 15px;
    margin-bottom: 1.5rem;
    width: 100%;
    -webkit-box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.48);
    transition: all .3s ease-in-out;
}

.activites-card:hover {
    transform: scale(1);
    -webkit-box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
    box-shadow: 1px 6px 28px 5px rgba(0, 0, 0, 0.48);
}

.activites-card img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites-card p {
    font-size: 1rem;
    padding: .8rem;
}

/* === Activités à Marseille === */







/* ----------------- === Footer === ----------------- */

footer {
    background-color: #ebebeb;
}

.footer-description h3 {
    padding: 1.5rem 0;
}

.footer-description p {
    padding-bottom: 1rem;
}

/* === End of Footer === */